.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*reset.css*/
* {margin:0;padding:0;box-sizing:border-box}
html,body {width:100%;font-size:15px;height:100%}
html {height:100%}
body {background:#fff;-webkit-text-size-adjust:none}
body,th,td,input,select,textarea,button {color:#717171;line-height:1.5;font-family:'Noto Sans Korean', 'BM-JUA', Arial, sans-serif;letter-spacing:-1px;word-spacing:1px}
a, a:visited, a:hover, a:active {text-decoration:none;color:#606060}
span {font-weight:inherit;font-family:inherit !important;color:inherit}

table {border-collapse:collapse;table-layout:fixed}
article, aside, details, figcaption, figure, footer, header, nav, section {display:block}
fieldset,img {border:0 none;vertical-align:bottom}
img {width:100%;border:0;outline:0}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none;border-radius:0}
input[type='checkbox'] {cursor:pointer}
input:checked[type='checkbox'] {background-color:#717171;-webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:none;border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
button {border:0 none;background-color:transparent;cursor:pointer}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
caption {overflow:hidden;position:absolute;left:-999%;width:0;height:0;margin:0;padding:0;font-size:0;line-height:0}
select {-webkit-appearance:none;-moz-appearance:none;appearance:none;/*background:#fff url(../images/common/bu_select.gif) no-repeat 95% 50%*/}
.ie9 select {background-image:none}
select::-ms-expand {display:none}
label {vertical-align: middle;cursor:pointer}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px white inset}
iframe,object,video,embed {position:relative;top:0;left:0;max-width:100%;border:0}
::selection {background-color:#eee}
::-moz-selection {background-color:#eee}
input:-ms-input-placeholder {color:#8f95a0}
input::-webkit-input-placeholder {color:#8f95a0}
input::-moz-placeholder {color:#8f95a0}
.hidden {overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;margin:0;padding:0;font-size:0;line-height:0}
.radius {position:relative;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;/*behavior:url(../js/PIE.htc)*/}
.ui-icon-loading+h1 {display:none} /* jquery mobile 버그 */
.clearfix:after{content:"";display:block;clear:both}

/*common.css*/
#root{position: relative;min-height: 100%}
.layout{width:100%;background: #fff;/*position: relative;*/overflow: hidden;}
.header{position: absolute;left:0;top:0;width:100%}
.header .hd_area{max-width:1280px;margin:auto;padding: 20px 0}
.header .logo_area{display:inline-block;vertical-align: middle}
.header .logo{width:150px;height:58px;background: url(images/eggs-logo.png) 0 50% no-repeat;background-size: cover}
.header .logo a{display: block;color:#333;text-indent:-9999px}

.footer{width:100%;position: absolute;background:#fec403;left:0;bottom:0}
.footer .ft_area{max-width:1280px;margin:auto;}
.footer .txt_copyright{padding: 10px 0;text-align: center;color:#fff;font-weight: 400;font-size: 14px}

.content{width: 100%;background: #fff;height: 100%;padding:85px 0 41px;}
.content .content_box{max-width: 1280px;margin:auto;}
.content .top_title p{color: #474747;text-align: center;font-size: 60px;font-weight: 700;margin-bottom:20px}
.content .cnt_area{max-width: 1280px;margin: auto;padding: 20px;background: #f4f4f4;margin-bottom:43px;}
.content .info_left{width:75%;display: inline-block;vertical-align:top}
.content .info_rgt{width:25%;display: inline-block;vertical-align:top;padding-left:20px;box-sizing: border-box}
.content .main_title{font-size: 24px;text-align: left;font-weight: 500;color: #333;margin-bottom: 5px}
.content .info_left .info_wrap{width: 100%;}
.content .info_left .img_area{width:38%;display:inline-block;vertical-align: middle;text-align: center;background: #fff;}
.content .info_left .img_area img{width: 100%;display: inline-block}
.content .info_left .img_area p{font-size: 14px;color:#333;font-weight: 400;text-align: center;padding-bottom: 15px}
.content .info_left .list_area{width:61%;display:inline-block;vertical-align: middle;box-sizing: border-box;padding-left: 20px;}
.content .info_left .top_price{color:#333;font-weight: 700;font-size: 18px;padding-bottom:5px;border-bottom:1px solid #666;margin-bottom:10px;}
.content .info_left .top_price span{display: inline-block;color:#fec403;margin-left:20px;font-weight: 700;font-size: 28px;}
.content .info_left .top_price em{display: inline-block;color:#fec403;}
.content .info_left .list_wrap{height:325px;overflow-y: scroll}
.content .info_left .info_list{width:100%;}
.content .info_left .info_list tbody tr td{font-size: 14px;color:#333;padding:3px 0;}
.content .info_left .info_list tbody tr td .price{text-align:right}
.content .info_left .info_list tbody tr td .price > span{display: inline-block;font-size: 17px;color:#333;font-weight: 400}
.content .info_left .info_list tbody tr td .type_logo{display: inline-block;width:80px;height:22px;}
.content .info_left .info_list tbody tr td:nth-child(1){width:25%}
.content .info_left .info_list tbody tr td:nth-child(2){width:58%}
.content .info_left .info_list tbody tr td:nth-child(3){width:17%}
.content .info_rgt .title{color:#333;text-align: left;font-size: 18px;margin-bottom:5px;height:42px;line-height:42px;font-weight:700}
.content .info_rgt .slc_period{display:block;min-height: 25px;}
.content .info_rgt .slc_period li{float:left;color:#333;font-size: 14px;margin-right:10px;cursor: pointer;}
.content .info_rgt .slc_period li:last-child{margin-right: 0}
.content .info_rgt .graph_area{width:100%;box-sizing: border-box;padding: 15px;background: #fff;height: 200px;}
.content .info_rgt .slc_period .ico_chk{display: inline-block;vertical-align: middle;width: 16px;height:16px;background: url(images/check-icon.png) 0 50% no-repeat;background-size: cover;margin-top:-2px;margin-right:3px}
.content .info_rgt .slc_period li.on .ico_chk{background: url(images/check-icon-active.png) 0 50% no-repeat;}

.content .deco_egg{display:inline-block;position: absolute;right:130px;top:30px;width: 320px;height: 320px;background: url(images/eggs-img.png) 0 50% no-repeat;background-size: cover;opacity: 0.75;}

@media screen and (max-width: 1280px) {
  .header .hd_area{padding:20px;}
  .content .content_box{box-sizing: border-box;padding:0 30px}
  .content .info_left{width:72%}
  .content .info_rgt{width:28%;}
}

@media screen and (max-width: 960px) {
  .content .cnt_area{padding:30px}
  .content .info_left{width:100%}
  .content .info_left .img_area img{max-width:400px}
  .content .info_left .list_area{width:100%;padding-left:0;margin-top:10px}
  .content .info_rgt{width:100%;padding-left:0;margin-top:10px}
  .content .info_left .img_area{width:100%}
  .content .info_left .top_price{text-align:right;}
  .content .top_title p{font-size:55px}
}

@media screen and (max-width: 640px) {
  .content .top_title p{font-size:40px}
  .content .main_title{font-size:22px;}
  .content .info_left .img_area img{max-width:300px}
  .header .logo{width:100px;height: 38px;}
  .content .info_left .info_list tbody tr td .type_logo{width:65px;height:20px}
  .content .info_left .info_list tbody tr td:nth-child(1){width:20%}
  .content .info_left .info_list tbody tr td:nth-child(2){width:63%}
  .content .info_left .info_list tbody tr td:nth-child(3){width:17%}
}

@media screen and (max-width: 480px) {
  .content .content_box{padding:0}
  .content .main_title{padding-left: 30px;box-sizing:border-box;}
  .content .cnt_area{margin-bottom: 0}
  .content .top_title p{font-size:32px}
  .content .main_title{font-size:20px;}
  .content .info_left .img_area img{max-width:200px}
  .content .info_left .info_list tbody tr td .type_logo{width:45px;height:20px}
  .content .info_left .info_list tbody tr td:nth-child(1){width:20%}
  .content .info_left .info_list tbody tr td:nth-child(2){width:63%}
  .content .info_left .info_list tbody tr td:nth-child(3){width:17%}
  .content .info_left .info_list tbody tr td .price > span{font-size:15px;}
  .content .info_left .info_list tbody tr td .title{font-size:12px;display: inline-block;word-break: keep-all;line-height: 1.2}
}
